@charset "UTF-8";

form {
	width: 450px;
	border: 2px solid blue;
	margin: 40px auto;
	padding: 20px;
}

label {
	width: 50px;
	height: 25px;
	display: inline-block;
}

textarea {
	/*box-sizing: content-box;*/
	width: 85%;
}

h2 {
	text-align: center;
	margin: 40px;
}

div {
	border: 1px solid blue;
	width: 500px;
	height: 200px;
	margin: 10px auto;
	padding: 20px;
}

pre {
	font-size: 1.5em;
	border-top: 2px dotted blue;
	border-bottom: 2px dotted blue;
	background-color: skyblue;
}

div.box {
	box-sizing: border-box;
	border: 1px solid gray;
	width: 100%;
	height: auto;
	/* margin : 10px; */
	padding: 20px;
}

div.result {
	box-sizing: border-box;
	width: 95%;
	height: auto;
	padding: 10px;
	margin: 10px;
	border: 1px dotted orange;
}

.box input[type=button] { /* 속성을 이용해서 스타일 지정 */
	width: 80px;
	height: 40px;
	background: blue;
	color: white;
	border-radius: 20px;
}
